<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Plant Species Classification</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/templatemo-style.css">

    </head>

<body>

    <nav>
        <div class="logo">
            <a href="{{url_for('index')}}">Plant Species Classification</a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

   


    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="heading-content">
                    <h1>About <em>Us</em></h1>
                </div>
                <div class="content">
                    <h2>What are we implementing?</h2>
                    <span>     </span>
                    <p>Here we are implementing a platform that which can classify and predict the different types of plant species.
                    <br><br>This process is performed using the Deep Learning technique, that which is used for classifying the different species.</p>
                    
                </div>
            </div>
        </div>
    </div>


    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>

                  <li>
                      <a href="{{url_for('index')}}">Home</a>
                  </li>
                  <li>
                      <a href="{{url_for('about')}}">About Us</a>
                  </li>
                  <li>
                      <a href="{{url_for('upload')}}">Upload Images</a>
                  </li>

          </div>
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>